@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}
.section-padding {
	padding: 100px 0;
}
.dropdown {
	position: relative;
	display: inline-block;
  }
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	
  }
  .dropdown-content a{
	font-size: 10px;
  } 
.dropdown:hover .dropdown-content {
	display: block;
  }
/* .carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}  */
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

.about{
    width: 100%;
    display: flex;
    background-color:#F8F9FA;
    padding-top: 80px;
}
/* About image */
.about .imgcontanner{
    width: 40%;
    position: relative;
    
}
.about .imgcontanner .aboutimg {
    position: absolute;
    background: url('/img/Adopt-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    top: 80px;
    left: 32%;
}

/* about content */
.about .aboutcontent {
    width: 50%;
    padding: 80px 10% 80px 16%;
    color: white;
    background-color: #c49405;
}
.aboutcontent h5 {
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aboutcontent h1 {
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 20px;
}
.aboutcontent p {
    padding-bottom: 30px;
    line-height: 25px;
}

/* donate button  */
.aboutcontent button {
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 8px 40px;
    
    background-size: 200%;
    background-position: left;
    
    border: 2px solid white;
    letter-spacing: 2px;
    font-size: 14px;
}
.aboutcontent a{
	color: white;
	text-decoration: none;
}
.aboutcontent a:visited{
	color:white
}

@media only screen and (max-width : 700px ) {

    /* *******************************   About us  **************************************** */
    .about{
        width: 100%;
        display: block;
        background-color:#F8F9FA;
        padding-top: 0px;

    }
    /* About image */
    .about .imgcontanner{
        width: 100%;
        padding:3%;
        padding-bottom: 50px;
        box-sizing: border-box;

    }
    .about .imgcontanner .aboutimg {
        position:relative;
        width: 100%;
        height: 450px;
        top: 0px;
        left: 0%;
        display: none;
    }

    /* about content */
    .about .aboutcontent {
        width: 100%;
        padding: 65px 4%;
        box-sizing: border-box;
    }
    .aboutcontent h5 {
        margin-bottom: 10px;
    }
    .aboutcontent h1 {
        font-size: 30px;
    }
}